/* Base styles */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Courier Prime", monospace;
  line-height: 1.6;
  padding: 1.25rem;
  background-color: #f4f4f4;
}

/* Form and items styles  */
.form-container {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto 1.25rem;
}

.form-group,
.items-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-items label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-items input,
.items-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #0000ff;
  border-radius: 4px;
  font-size: 1rem;
}

.form-group input:focus,
.items-group input:focus {
  outline: none;
  border-color: #4caf50;
}

/* Button styles */
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  background: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
}

.receipt-btn:hover {
  background: #45a049;
}

.remove-btn {
  background: #ff4d4d;
}

.remove-btn:hover {
  background-color: #ff3333;
}

/* Receipt styles */
.receipt-container {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  page-break-inside: avoid;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.header img {
  width: 40px;
  height: auto;
}

.company-name {
  color: #0000ff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-inline-start: 0.625rem;
}

.billing-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-block-end: 1.25rem;
}

.receipt-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.25rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-block-end: 1.25rem;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f8f9fa;
}

.total {
  text-align: right;
  font-weight: bold;
  font-size: 1.2rem;
  margin-block-start: 1.25rem;
}

.contact {
  margin-block-start: 2.5rem;
}

.contact-title {
  color: #ff0000;
  font-weight: bold;
  margin-block-end: 0.625rem;
}

.thank-you {
  text-align: center;
  color: #0000ff;
  margin-top: 2.5rem;
  font-size: 1rem;
}

.footer {
  text-align: center;
  margin-top: 1.25rem;
}

.footer span, .footer a {
  color: #4caf50;
  font-weight: bold;
}

/* Responsive styles */
@media screen and (min-width: 768px) {
  body {
    padding: 3rem;
  }

  .form-container,
  .receipt-container {
    padding: 2rem;
  }

  .form-group {
    grid-template-columns: 1fr 1fr 150px;
  }

   .items-group {
    grid-template-columns: 50px 1fr 150px auto;
  }

  .header img {
    width: 80px;
  }

  .company-name, 
  .receipt-title {
    font-size: 1.5rem;
  }

  .receipt-date,
  .total,
  .contact-title {
    font-size: 1.2rem;
  }
}

/* PDF-specific styles */
@media print {
  body {
    padding: 0;
    background: white;
  }

  .receipt-container {
    box-shadow: none;
    max-width: 80%;
    padding: 15px;
  }

  .form-container {
    display: none;
  }
}
